@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --h-height: 85px;
  --f-height: 80px;
}

$main-font: "Open Sans";
$title-font: "Bebas";
$pale-blue: #9DC4EF;
$blue: #4A83DC;
$light-blue: #66C6E4;
$dark-blue: #0D59AB;
$gradient-1: linear-gradient(120.98deg, #4A83DC 48.77%, #3266B8 85.89%);
$gradient-2: linear-gradient(120.98deg, rgba(72, 216, 104, 0.8) 48.77%, rgba(120, 216, 72, 0.8) 85.89%);
$glass: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.3);
$glass-stroke: linear-gradient(111.82deg, rgba(255, 255, 255, 0.7) 0.48%, rgba(255, 255, 255, 0) 23.46%);
$dark-green: #005A47;
$green: #48D868;
$pale-green: #94E5A6;
$aqua: rgba(67, 185, 198, 0.26);

$white: #FFFFFF;
$light-gray:#C1C1C1;
$gray: #8F8F8F;
$black: #1B1B1C;
$transition: 300ms ease;
$radius: .67em;

$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;
$bp-xl: 1399px;
$bp-xxl: 1679px;
$bp-3xl: 1849px;


/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG($z: 1) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  @if $strict {
    height: $line * $count;
  } @else {
    max-height: $line * $count;
  }
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin shadow {
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 4px 15px rgba(100, 100, 100, 0.08);
  backdrop-filter: blur(4px);
}
@mixin lightShadow {
  filter: drop-shadow(0px 4px 15px rgba(100, 100, 100, 0.08));
}
@mixin blob {
  box-shadow: 0px 1px 3px rgba(70, 67, 118, 0.2), inset 0px 1px 3px rgba(245, 201, 249, 0.47);
}
@mixin btnStyle {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 10px rgba(156, 156, 156, 0.2);
}
@mixin blurShadow {
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  backdrop-filter: blur(5px);
}
@mixin placeholder($color, $fw: 400){
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $color;
    font-weight: $fw;
  }
  &::placeholder {
    color: $color;
    font-weight: $fw;
  }
}

/*****************
SCROLL STYLIZATION
******************/
html {
  scrollbar-color: $pale-blue transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $white;
  @include shadow();
  &:hover,
  &:active {
    background: rgba($color: $pale-blue, $alpha: .2);
  }
}
::-webkit-scrollbar-thumb {
  background-color: $pale-blue;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: $light-blue;
  }
  &:active {
    background-color: $blue;
  }
}
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}


/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 140%;
  margin-bottom: 0px;
}

h1, .h1 {
  font-family: $title-font;
  font-size: 4em;
  font-weight: normal;
  text-align: left;
  margin-bottom: .2em;
}
h2 {
  font-family: $title-font;
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  margin-bottom: .67em;
}
h3 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  margin-bottom: .2em;
}
h4 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  margin-bottom: .2em;
}
h5 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
}
.fs {
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}
.rouble {font-family: 'Verdana', 'Tahoma', 'Arial Black';} 

/* Form elements */
input, textarea {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $radius;
  padding: 0.6em 1.65em;
  width: 100%;
  outline: none;
  display: block;
  transition: $transition;
  @include placeholder($light-gray, 400);
  &.p-blue {
    border: 1px solid $pale-blue;
    @include placeholder($pale-blue, 400);
  }
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .65em 1.65em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  font-weight: 400;
  border-radius: $radius;
  &-1 {
    @extend .btn;
    color: $white;
    background: $gradient-1;
    &:hover, &:focus {
      color: $white;
      background: $gradient-1;
    }
    &:active, &.active {
      color: $white !important;
      background: $gradient-1;
    }
  }
  &-2 {
    @extend .btn;
    background: #FFFFFF;
    color: $black;
    @include blurShadow();
    border-radius: $radius;
  }
}

.lang-switcher {
  position: relative;
  button {
    width: 100%;
    font-size: 1em;
    padding: .1em .2em;
    @include flex(row, space-between, center, nowrap);
    color: $gray;
  }
  img {
    width: 1.6em;
    height: 1.6em;
    object-fit: cover;
    border-radius: 50%;
    @include shadow();
    margin-right: .5em;
  }
  ul {
    @include list();
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0px;
    width: 100%;
    height: auto;
    @include flex(column, flex-start, stretch, nowrap);
    li {
      width: 100%;
      margin: 0px !important;
    }
  }
  // &.opened {
    
  // }
}
.star-rating {
  @include flex(row, flex-start, center, nowrap);
  color: $blue;
  font-size: 1.34em;
  svg {
    &:not(:first-child) {
      margin-left: 3px;
    }
    &.filled {
      path {
        fill: $blue;
      }
    }
  }
}
.form-search {
  position: relative;
  input {
    width: 340px;
  }
  button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    color: $pale-blue;
    font-size: 1.6em;
    width: 1.6em;
    @include flex(row, center, center, nowrap);
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1509px;
  }
}
.flex-1 {flex: 1;}
.mb-6 {margin-bottom: 6em;}

body {
  margin: 0;
  font-family: $main-font, 'Arial', 'Tahoma', 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
}


main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 2em 0;
}

header {
  height: var(--h-height);
}

/* Slider */
.main-slider {
  @include flex(row, space-between, flex-start, nowrap);
  &-item {
    --w: 16%;
    width: var(--w);
    position: relative;
    padding-top: 3.5em;
    // transition: $transition;
    .svg-mini {
      position: relative;
      z-index: 1;
      width: 112%;
      height: 440px;
    }
    h2 {
      @include clamp(1, 1em);
    }
    .lots {
      width: fit-content;
      height: fit-content;
      position: absolute;
      z-index: 10;
      bottom: 16%;
      right: -6%;
      @include flex(column, center, center, nowrap);
      color: $white;
      font-size: .85em;
      .num {
        font-size: 1.1em;
        line-height: 140%;
        font-weight: 600;
      }
    }
    &-active {
      @extend .main-slider-item;
      --w: 60%;
      .svg-full {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 524px;
        margin-top: -3.3em;
      }
      h2 {
        position: absolute;
        z-index: 10;
        top: 0%;
        left: 16%;
      }
      .lots {
        top: 5%;
        left: 6.25%;
        bottom: unset;
        right: unset;
        font-size: 1em;
        .num {
          line-height: 120%;
          font-size: 1.6em;
          font-weight: 400;
        }
      }
      .link {
        position: absolute;
        z-index: 10;
        bottom: 2em;
        right: 2em;
      }
    }
  }
}


/* Catalog */
.sec-catalog {
  background: url(imgs/bg/gradient.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
  .nav-catalog {
    position: absolute;
    z-index: 10;
    top: 0%;
    left: 3%;
    width: fit-content;
    height: 100%;
    ul {
      // clip-path: url(#fossa);
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      @include list();
      background: $glass;
      background-color: rgba(255, 255, 255, 0.3);
      @include blurShadow();
      padding: 1em;
      border-radius: $radius;
      // mask-image: radial-gradient(ellipse 8px 10px at 100% 5%, transparent 30px, black 0);
      li {
        font-size: 1.3em;
        text-align: center;
        &:not(:first-child){margin-top: 1em;}
      }
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &-part {
    margin-bottom: 3.33em;
    padding: 1em 2.3em;
    background: $glass;
    @include blurShadow();
    border-radius: 10px;
  }
  .letter {
    font-size: 3.33em;
    font-weight: 700;
    color: rgba(67, 185, 198, 0.26);
    margin-bottom: 1rem;
  }
}
.game-card {
  @include flex(row, flex-start, flex-start, nowrap);
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.3em;
  }
  h4 {
    padding: 0 0 .6em .65em;
  }
  .servers {
    position: relative;
    @include list();
    @include flex(row, flex-start, center, nowrap);
    background: rgba($color: $green, $alpha: .8);
    @include btnStyle();
    width: fit-content;
    border-radius: $radius;
    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0px;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: $blue;
      @include blob();
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 0px;
      left: 50%;
      width: 20px;
      height: 7px;
      transform: translate(-48%, 0%);
      background: url(imgs/Subtract.svg) no-repeat center;
      background-size: contain;
    }
    li {
      position: relative;
      color: $white;
      width: fit-content;
      text-transform: uppercase;
      padding: .6em .5em;
      transition: $transition;
      cursor: pointer;
      &:first-child {padding-left: 1em;}
      &:last-child {padding-right: 1em;}
      &.active {
        color: $dark-green;
        
      }
    }
  }
  .categories {
    @include list();
    @include flex(row, flex-start, center, wrap);
    padding: 1em .85em .85em;
    li { 
      margin-bottom: .67em;
      &:not(:last-child){margin-right: 1em;}
    }
  }
}
.sec-promo {
  background: url(imgs/bg/texture.png), linear-gradient(109.93deg, #3399AB 26.37%, #78D848 59.52%, #91EE8F 91.99%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay, normal;
  @include blurShadow();
  border-radius: $radius;
  padding: 0 10% 0 4em;
  color: $white;
  @include flex(row, space-between, center, nowrap);
  margin-top: 10%;
  img {
    width: 25%;
    margin-top: -11%;
  }
}

/* Blog */
.sec-blog {
  .cognition {
    flex: 1;
    display: block;
    background-color: $black;
    background-image: linear-gradient(to right, transparent, $black), url(imgs/bg/cogito.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%, 75% auto;
    background-position: 60% 50%, -10% 50%;
    color: $white;
    padding: .9em 2em;
    text-align: right;
    border-radius: $radius;
    margin-left: 3.5em;
  }
  .blog-list {
    @include list();
    &-item {
      position: relative;
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: $radius;
        margin-bottom: 1.3em;
      }
      h5 {
        @include clamp(3, 1.3em);
      }
    }
  }
}

/* bottom background */
.sec-bottom {
  background: url(imgs/bg/gradient.jpg) no-repeat center;
  background-size: 100% 100%;
}

/* Chat */
.sec-chat {
  h2 {
    margin-left: 3.5em;
    margin-bottom: 0.1em;
  }
}
.chat {
  background: rgba($color: $white, $alpha: .3);
  @include blurShadow();
  padding: 3em 1.5em;
  border-radius: $radius;
  position: relative;
  &-count {
    position: absolute;
    top: -3em;
    left: 3em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    @include flex(column);
    text-align: center;
    border: .5em solid $white;
    box-sizing: content-box;
  }
  &-window {
    height: 685px;
    overflow: auto;
    padding: 2em 3em;
    &-message {
      @include flex(row, flex-start, flex-start);
      &:not(:first-child){margin-top: 2em;}
      img {
        width: 3.34em;
        height: 3.34em;
        border-radius: 50%;
        margin-right: -2.5em;
        position: relative;
        z-index: 10;
        border: 0.34em solid #fbfbfd;
        box-sizing: content-box;
      }
      .text {
        flex: 1;
        @include flex(column, flex-start, flex-start, nowrap);
        h5 {
          padding-left: 3em;
          margin-bottom: .34em;
        }
        .bubble {
          position: relative;
          width: fit-content;
          min-width: 50%;
          background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba($color: $pale-blue, $alpha: .2);
          @include shadow();
          border-radius: $radius;
          padding: 1em 15% 1.2em 4em;
          font-weight: 300;
          text-align: left;
          time {
            position: absolute;
            top: .3em;
            right: 1em;
            font-size: .85em;
          }
          .toAnswer {
            position: absolute;
            bottom: .3em;
            right: .5em;
            color: $dark-blue;
            font-size: 1.35em;
            @include flex();
            transition: $transition;
            transform: scale(1);
            &:hover, &:focus, &:active {
              color: $green;
              transform: scale(1.2);
            }
          }
        }
      }
      &-mine {
        @extend .chat-window-message;
        img {
          margin-left: -2.5em;
          margin-right: 0px;
        }
        .text {
          align-items: flex-end;
          h5 {
            padding-right: 3em;
            padding-left: 0;
          }
          .bubble {
            background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba($color: $pale-green, $alpha: .4);
            text-align: right;
            time {
              top: unset;
              bottom: .3em;
            }
          }
        }
      }
    }
  }
  &-form {
    @include flex(row, flex-start, center, nowrap);
    .input {
      flex: 1;
      background: url(imgs/bg/inputChat.svg) no-repeat center;
      background-size: 100% 100%;
      height: 4em;
      @include lightShadow();
      input {
        border: none;
        background-color: transparent;
        height: 100%;
      }
    }
    button {
      margin-left: -.34em;
      width: 3.34em;
      height: 3.34em;
      padding: 0px;
      border-radius: 50%;
      padding-top: 0.25em;
      padding-right: 0.25em;
      img {width: 1.75em;}
    }
  }
  &-report {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    z-index: 10;
    color: $dark-blue;
    @include flex();
    font-size: 1.6em;
    transition: $transition;
    transform: scale(1);
    &:hover, &:focus, &:active {
      color: #e9003a;
      transform: scale(1.2);
    }
  }
}

/* Popular products */
.sec-popular {
  h2 {
    margin-bottom: 0.1em;
    padding: 0 0.35em;
  }
  .offers-slider {
    height: 860px;
    padding: 0 1.5em 0 1em;
    margin-right: -.5em;
    .swiper-scrollbar {
      right: .5em;
      background-color: #fff;
      box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 1px 3px 20px rgba(100, 100, 100, 0.15);
      backdrop-filter: blur(4px);
      width: 5px;
      &-drag {
        background-color: $pale-blue;
      }
    }
    .swiper-slide {height: fit-content;}
    .offer-card {
      background: $glass;
      @include blurShadow();
      border-radius: $radius;
      padding: 1em;
      &-top {
        @include flex(row, space-between, center, nowrap);
        h5 {
          font-weight: 700;
          color: $green;
          h5 {
            @include clamp(1, 1.4em, true);
          }
        }
      }
      &-main {
        margin-top: 1em;
        @include flex(row, space-between, center, nowrap);
        h5 {
          @include clamp(2, 1.4em, true);
        }
      }
      &-text {
        margin-top: 1em;
        p {
          font-weight: 300;
          @include clamp(2, 1.4em);
        }
      }
      &-bottom {
        margin-top: 1em;
        @include flex(row, space-between, center, nowrap);
      }
    }
  }
}

footer {
  height: var(--f-height);
  background-color: $black;
  color: $white;
  .dev-link {
    width: fit-content;
    @include flex(row, center, center, nowrap);
    font-size: 16px;
    svg {
      margin-left: 0.3em;
      font-size: 1.2em;
    }
  }
}