@import 'bootstrapCustom';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// "homepage": "https://ngf93.github.io/purchases",

:root {
  --h-height: 85px;
  --f-height: 80px;
  @include media-breakpoint-down(md) {
    --h-height: 70px;
  }
  @include media-breakpoint-down(sm) {
    --h-height: 55px;
    --f-height: 64px;
  }
}

$main-font: "Open Sans";
$title-font: "Bebas";
$pale-blue: #9DC4EF;
$blue: #4A83DC;
$light-blue: #66C6E4;
$dark-blue: #0D59AB;
$gradient-1: linear-gradient(120.98deg, #4A83DC 48.77%, #3266B8 85.89%);
$gradient-2: linear-gradient(120.98deg, rgba(72, 216, 104, 0.8) 48.77%, rgba(120, 216, 72, 0.8) 85.89%);
$glass: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.3);
$dark-green: #005A47;
$green: #48D868;
$pale-green: #94E5A6;
$aqua: rgba(67, 185, 198, 0.26);
$rose: #FF9F9F;

$white: #FFFFFF;
$pale-gray: #D9D9D9;
$light-gray:#C1C1C1;
$gray: #8F8F8F;
$black: #1B1B1C;
$transition: 300ms ease-in-out;
$radius: .67em;


/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG($z: 1) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  @if $strict {
    height: $line * $count;
  } @else {
    max-height: $line * $count;
  }
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin shadow {
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 4px 15px rgba(100, 100, 100, 0.08);
  backdrop-filter: blur(4px);
}
@mixin boxShadow($size: 15px) {
  box-shadow: 0px 4px $size rgba(100, 100, 100, 0.08);
}
@mixin lightShadow {
  filter: drop-shadow(0px 4px 15px rgba(100, 100, 100, 0.08));
}
@mixin shadowMobile {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5), 1px 1px 10px rgba(100, 100, 100, 0.15);
  backdrop-filter: blur(2.5px);
}
@mixin blob {
  box-shadow: inset 0px 1px 3px rgba(245, 201, 249, 0.47);
  filter: drop-shadow(0px 1px 3px rgba(70,67,118,.2));
}
@mixin btnStyle {
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 10px rgba(156, 156, 156, 0.2);
}
@mixin blurShadow {
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  backdrop-filter: blur(5px);
}
@mixin bgTextureGradient($grad: linear-gradient(109.93deg, #3399AB 26.37%, #78D848 59.52%, #91EE8F 91.99%)) {
  background: url(imgs/bg/texture.png), $grad;
  background-size: cover, 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay, normal;
}
@mixin placeholder($color, $fw: 400){
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $color;
    font-weight: $fw;
  }
  &::placeholder {
    color: $color;
    font-weight: $fw;
  }
}

/*****************
SCROLL STYLIZATION
******************/
html {
  scrollbar-color: $pale-blue transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $white;
  @include shadow();
  &:hover,
  &:active {
    background: rgba($color: $pale-blue, $alpha: .2);
  }
}
::-webkit-scrollbar-thumb {
  background-color: $pale-blue;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: $light-blue;
  }
  &:active {
    background-color: $blue;
  }
}
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}


/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
  line-height: 135%;
  margin-bottom: 0px;
}

h1, .h1 {
  font-family: $title-font;
  font-size: 4em;
  font-weight: normal;
  text-align: left;
  line-height: 120%;
  margin-bottom: .2em;
  @include media-breakpoint-down(xxxl) {
    font-size: 3.6em;
  }
  @include media-breakpoint-down(xl) {
    font-size: 3.5em;
  }
  @include media-breakpoint-down(lg) {
    font-size: 3.2em;
  }
  @include media-breakpoint-down(md) {
    font-size: 2.75em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.3em;
  }
}
h2, .h2 {
  font-family: $title-font;
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  margin-bottom: .67em;
  @include media-breakpoint-down(md) {
    font-size: 2.75em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.3em;
    margin-bottom: .5em;
  }
}
h3 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  margin-bottom: .2em;
  @include media-breakpoint-down(lg) {
    font-size: 1.4em;
  }
}
h4 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  margin-bottom: .2em;
  @include media-breakpoint-down(lg) {
    font-size: 1.2em;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.1em;
  }
}
h5 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
  @include media-breakpoint-down(lg) {
    font-size: 1.1em;
  }
  @include media-breakpoint-down(md) {
    font-size: 1em;
  }
}
.fs {
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}
.gray {color: $gray;}
.pale-blue {color: $pale-blue;}
.dark-blue {color: $dark-blue;}
.rose {color: $rose;}
.rouble {font-family: 'Verdana', 'Tahoma', 'Arial Black';} 

/* Form elements */
input, textarea {
  background-color: rgba($white, $alpha: .8);
  border: 1px solid $light-gray;
  border-radius: $radius*0.5;
  padding: 0.7em 1.65em;
  width: 100%;
  outline: none;
  display: block;
  transition: $transition;
  @include placeholder($light-gray, 400);
  &.p-blue {
    border: 1px solid $pale-blue;
    @include placeholder($pale-blue, 400);
  }
}
input {
  &[type='checkbox'], &[type='radio']{
    @include no-appearance;
    width: 20px;
    height: 20px;
    border: 1px solid $green;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: $transition;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $green;
      transition: $transition;
      opacity: 0;
    }
    &:checked::before {
      opacity: 1;
    }
  }
  &[type='search'] {
    padding-right: 2.5em;
    background: url(imgs/SearchIcon.svg) no-repeat calc(100% - .67em) 50% rgba($white, $alpha: .85);
    background-size: 1.6em;
  }
  &.code {
    font-family: 'Bebas';
    font-size: 2.3em;
    padding: 0px 10px;
    text-align: center;
    line-height: 120%;
  }
}
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {flex:1;}
}
.labeled-input {
  position: relative;
  label {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 1em;
    transform: translateY(-60%);
    width: fit-content;
    background-color: $white;
    color: $gray;
    padding: 0 .67em;
  }
  input {
    position: relative;
    z-index: 1;
  }
}

select {
  @include no-appearance();
  cursor: pointer;
  min-width: 250px;
  border-radius: $radius;
  padding: 0.75em 1.65em;
  border: none;
  @include boxShadow(12px);
  background: url(imgs/chevron-down.svg), $glass;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.67em) 50%, 50% 50%;
  background-size: 1.6em, cover;
  transition: $transition;
  &:hover, &:focus {
    background-color: rgba($pale-blue, .1);
  }
  @include media-breakpoint-down(md) {
    min-width: 200px;
  }
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .65em 1.65em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  font-weight: 400;
  border-radius: $radius;
  &-1 {
    @extend .btn;
    color: $white;
    background: $gradient-1;
    &:hover, &:focus {
      color: $white;
      background: $gradient-1;
    }
    &:active, &.active {
      color: $white !important;
      background: $gradient-1;
    }
  }
  &-2 {
    @extend .btn;
    background: #FFFFFF;
    color: $black;
    @include blurShadow();
    border-radius: $radius;
  }
  &[disabled]{
    background: $light-gray;
  }
}

.lang-switcher {
  position: relative;
  button {
    width: 100%;
    font-size: 1em;
    padding: .1em .2em;
    @include flex(row, space-between, center, nowrap);
    color: $gray;
  }
  img {
    width: 1.6em;
    height: 1.6em;
    object-fit: cover;
    border-radius: 50%;
    @include shadow();
    margin-right: .5em;
  }
  ul {
    @include list();
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0px;
    width: 100%;
    height: auto;
    @include flex(column, flex-start, stretch, nowrap);
    li {
      width: 100%;
      margin: 0px !important;
    }
  }
  // &.opened {
    
  // }
}
.star-rating {
  @include flex(row, flex-start, center, nowrap);
  color: $blue;
  font-size: 1.34em;
  svg {
    &:not(:first-child) {
      margin-left: 3px;
    }
    &.filled {
      path {
        fill: $blue;
      }
    }
  }
}

.flex-1 {flex: 1;}
.mb-6 {
  margin-bottom: 6em;
  @include media-breakpoint-down(md) {
    margin-bottom: 5em;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 4em;
  }
}

.breadcrumbs {
  margin-bottom: 2em;
  color: $light-gray;
  @include media-breakpoint-down(xl) {
    margin-bottom: 1.5em;
  }
  ul {
    @include list();
    @include flex(row, flex-start, center, wrap);
    li {
      a {
        font-size: 1.2em;
        font-weight: 500;
        @include media-breakpoint-down(lg) {
          font-size: 1.1em;
        }
        @include media-breakpoint-down(md) {
          font-size: 1em;
        }
      }
      &:not(:first-child){
        margin-left: 1em;
        padding-left: 1.4em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0px;
          display: block;
          height: 100%;
          width: 8px;
          background: url(imgs/arrow-mini.svg) no-repeat center;
          background-size: contain;
          @include media-breakpoint-down(lg){
            width: 7px;
          }
          @include media-breakpoint-down(md) {
            width: 6px;
          }
        }
      }
    }
  }
}

body {
  margin: 0;
  font-family: $main-font, 'Arial', 'Tahoma', 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
  @include media-breakpoint-down(lg) {
    padding-bottom: var(--f-height);
  }
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
}


main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 2em 0;
  @include media-breakpoint-down(sm){
    padding: 1em 0;
  }
}

header {
  height: var(--h-height);
  input {
    border-color: $pale-blue;
    @include placeholder($pale-blue);
  }
}

/* Slider */
.main-slider {
  @include media-breakpoint-down(lg){
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    @include media-breakpoint-down(sm) {
      padding-bottom: 1.5em;
    }
  }
  &-box {
    @include flex(row, space-between, flex-start, nowrap);
    @include media-breakpoint-down(lg) {
      width: 300%;
      transition: 400ms ease-in-out;
      &.pos-1 {
        transform: translateX(0%);
      }
      &.pos-2 {
        transform: translateX(calc(100% / 3 * -1));
      }
      &.pos-3 {
        transform: translateX(calc(100% / 3 * 2 * -1));
      }
    }
  }
  &-item {
    --w: 15.5%;
    width: var(--w);
    position: relative;
    padding-top: 3.5em;
    transition: 400ms ease-in-out;
    @include media-breakpoint-down(xl) {
      --w: 16.5%;
      padding-top: 2.5em;
    }
    @include media-breakpoint-down(lg) {
      --w: 100%;
      padding-top: 0em;
    }
    .svg-mini {
      position: relative;
      z-index: 1;
      width: 112%;
      height: 430px;
      @include media-breakpoint-down(xxxl) {
        height: 372px;
      }
      @include media-breakpoint-down(xxl) {
        height: 320px;
      }
      @include media-breakpoint-down(xl) {
        height: 284px;
      }
    }
    .svg-mobile {
      width: 100%;
      height: 552px;
      @include media-breakpoint-down(md){
        height: 410px;
      }
      @include media-breakpoint-down(sm) {
        height: 73vw;
      }
    }
    .title-full {
      position: absolute;
      z-index: 10;
      top: 0%;
      left: 16%;
      width: 84%;
      overflow: hidden;
      opacity: 0;
      transition: 400ms linear 0ms;
      @include media-breakpoint-down(lg) {
        top: 5%;
        left: 30%;
        width: 70%;
      }
      @include media-breakpoint-down(md) {
        top: 3%;
      }
      h2 {
        line-height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
        @include media-breakpoint-down(xl) {
          font-size: 2.5em;
        }
        @include media-breakpoint-down(lg) {
          font-size: 3em;
        }
        @include media-breakpoint-down(md) {
          font-size: 2.5em;
        }
        @include media-breakpoint-down(sm) {
          font-size: 2.3em;
        }
      }
    }
    .title-mini {
      margin-top: 5px;
      width: 100%;
      overflow: hidden;
      opacity: 1;
      transition: 400ms linear 400ms;
      @include media-breakpoint-down(xxxl) {
        margin-top: 10px;
      }
      @include media-breakpoint-down(xl) {
        margin-top: 0px;
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
      h2 {
        line-height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
        @include media-breakpoint-down(xxxl) {
          font-size: 2.5em;
        }
        @include media-breakpoint-down(xxl) {
          font-size: 2em;
        }
      }
    }
    .lots {
      width: fit-content;
      height: fit-content;
      position: absolute;
      z-index: 10;
      bottom: 9%;
      right: -6%;
      @include flex(column, center, center, nowrap);
      color: $white;
      font-size: .85em;
      @include media-breakpoint-down(xxxl) {
        font-size: .75em;
      }
      @include media-breakpoint-down(xxl) {
        font-size: .6em;
      }
      @include media-breakpoint-down(xl) {
        font-size: .55em;
      }
      .num {
        font-size: 1.1em;
        line-height: 140%;
        font-weight: 600;
        @include media-breakpoint-down(xxl) {
          font-size: 1.25em;
        }
      }
    }
    .link {
      position: absolute;
      z-index: 10;
      bottom: 2em;
      right: 2em;
      opacity: 0;
      @include media-breakpoint-down(xl) {
        bottom: 1em;
        right: 1em;
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    &-active {
      @extend .main-slider-item;
      --w: 60.6%;
      @include media-breakpoint-down(xxl) {
        --w: 61%;
      }
      @include media-breakpoint-down(xl) {
        --w: 62%;
      }
      @include media-breakpoint-down(lg) {
        --w: 100%;
      }
      .svg-full {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 524px;
        margin-top: -3.3em;
        @include media-breakpoint-down(xxxl) {
          height: 458px;
          margin-top: -3em;
        }
        @include media-breakpoint-down(xxl) {
          height: 400px;
          margin-top: -2.6em;
        }
        @include media-breakpoint-down(xl) {
          height: 340px;
          margin-top: -2em;
        }
      }
      .title-full {
        opacity: 1;
        transition: 400ms linear 400ms;
      }
      .title-mini {
        height: 0px;
        opacity: 0;
        transition: 400ms linear 0ms;
      }
      .lots {
        top: -1.85em;
        left: 6.25%;
        bottom: unset;
        right: unset;
        font-size: 1em;
        @include media-breakpoint-down(xxxl) {
          font-size: .9em;
        }
        @include media-breakpoint-down(xxl) {
          font-size: .8em;
        }
        @include media-breakpoint-down(xl) {
          font-size: .7em;
          top: -1.65em;
        }
        @include media-breakpoint-down(lg) {
          font-size: 1.3em;
          top: 7%;
          left: 12.5%;
        }
        @include media-breakpoint-down(md) {
          font-size: 1em;
        }
        @include media-breakpoint-down(sm) {
          font-size: 3vw;
          left: 12%;
        }
        .num {
          line-height: 120%;
          font-size: 1.6em;
          font-weight: 400;
        }
      }
      .link {
        opacity: 1;
        transition: 200ms ease-in-out 800ms;
      }
    }
  }
  &-prev, &-next {
    display: flex;
    position: absolute;
    top: 67.5%;
    font-size: 2em;
    @include media-breakpoint-down(md) {
      top: 66.5%;
      font-size: 1.5em;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.25em;
    }
  }
  &-prev {left: 0px;}
  &-next {right: 0px;}
  &-indicators {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    @include list();
    @include flex();
    li {
      flex-grow: 1;
      height: .6em;
      background-color: rgba($color: $black, $alpha: .15);
      border-radius: .3em;
      transition: $transition;
      @include media-breakpoint-down(sm) {
        height: .4em;
      }
      &:not(:first-child){margin-left: 2em;}
      &.active {
        background-color: rgba($color: $black, $alpha: 1);
      }
    }
  }
}


/* Catalog */
.sec-catalog {
  background: url(imgs/bg/gradient.jpg) no-repeat;
  background-size: 100% 100%;
  .container {
    position: relative;
    @include media-breakpoint-down(lg) {
      @include flex(row, flex-start, stretch, nowrap);
    }
  }
  &-nav {
    position: absolute;
    z-index: 10;
    top: 0%;
    right: calc(100% + 12px);
    width: 60px;
    height: 100%;
    @include media-breakpoint-down(lg) {
      position: relative;
      top: unset;
      right: unset;
      height: auto;
      margin-left: 1em;
    }
    .wrap {
      background: $glass;
      background-color: rgba(255, 255, 255, 0.7);
      @include blurShadow();
      border-radius: $radius;
      position: sticky;
      top: .5em;
      left: 0;
      width: 100%;
      height: fit-content;
      max-height: calc(100vh - 2em);
      padding: .5em;
      transition: $transition;
      @include media-breakpoint-down(lg) {
        float: right;
      }
      form {
        position: relative;
        border: 1px solid transparent;
        border-radius: $radius;
        margin-bottom: .25em;
        @include flex();
        transition: $transition;
        button {
          @include absBG(2);
          width: 3em;
          color: $pale-blue;
          svg {font-size: 1.6em;}
        }
        input {
          width: 100%;
          opacity: 0;
          position: relative;
          z-index: 1;
          @include placeholder($pale-blue);
          padding: 0.6em 0 0.6em 3em;
        }
      }
      ul {
        @include list();
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-auto-flow: column;
        li {
          grid-column: span 1;
          grid-row: span 1;
          font-size: 1.3em;
          text-align: center;
          padding: .4em;
          a {
            @include flex();
            color: $black;
            position: relative;
            background-color: transparent;
            transition: $transition;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            white-space: nowrap;
            &:hover {
              background-color: rgba($color: $pale-blue, $alpha: .25);
            }
            &.ss-active {
              background-color: rgba($color: $pale-blue, $alpha: .5);
            }
          }
        }
      }
      #cut {
        font-size: 1.3em;
        position: absolute;
        top: 0px;
        right: -.5em;
        width: 1em;
        height: 1em;
        transition: $transition;
        transform: translateY(0.25em);
        @include flex();
        border-radius: 50%;
        overflow: hidden;
        @include media-breakpoint-down(lg) {
          right: unset;
          left: -.5em;
        }
        img {
          width: 100%;
          height: 100%;
          transition: $transition;
          @include media-breakpoint-down(lg) {
            transform:rotate(-180deg);
          }
        }
        &.opened {
          img {
            transform:rotate(-180deg);
            @include media-breakpoint-down(lg) {
              transform:rotate(0deg);
            }
          }
        }
      }
      &.full {
        width: 180px;
        form {
          // border: 1px solid $pale-blue;
          input {
            opacity: 1;
          }
        }
      }
    }
  }
  &-box {flex: 1;}
  &-part {
    padding: 1em 2.3em;
    background: $glass;
    @include blurShadow();
    border-radius: 10px;
    &:not(:last-child){margin-bottom: 3.33em;}
    @include media-breakpoint-down(xxxl) {
      padding: 1em 1.5em;
    }
    @include media-breakpoint-down(sm) {
      padding: 1em;
    }
  }
  .letter {
    font-size: 3.33em;
    font-weight: 700;
    color: rgba(67, 185, 198, 0.26);
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      line-height: 100%;
    }
  }
}
.game-card {
  @include flex(row, flex-start, flex-start, nowrap);
  .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.3em;
    @include media-breakpoint-down(xxxl) {
      margin-right: .5em;
    }
  }
  h4 {
    padding: 0 0 .6em .65em;
  }
  .categories {
    @include list();
    @include flex(row, flex-start, center, wrap);
    padding: 1em .85em .85em;
    @include media-breakpoint-down(xxxl) {
      padding: .85em .5em .5em;
    }
    @include media-breakpoint-down(xxl) {
      padding: .75em 0em 0;
    }
    li { 
      margin-bottom: .67em;
      &:not(:last-child){margin-right: 1em;}
    }
  }
}
.servers {
  position: relative;
  @include list();
  @include flex(row, flex-start, center, nowrap);
  background: rgba($color: $green, $alpha: .8);
  @include btnStyle();
  width: fit-content;
  border-radius: $radius;
  padding: 0 .5em;
  li {
    position: relative;
    color: $white;
    width: fit-content;
    text-transform: uppercase;
    padding: .6em .5em;
    transition: $transition;
    cursor: pointer;
    &.indicator {
      transform: translateY(-50%) translateX(-50%);
      padding: 0px;
      position: absolute;
      left: .5em;
      top: -1px;
      width: 20px;
      height: 14px;
      background: url(imgs/Subtract.svg) no-repeat center bottom;
      background-size: 100% 50%;
      @include flex();
      img {
        width: 8px;
        height: 8px;
        filter: drop-shadow(0px 1px 3px rgba(70,67,118,.2));
      }
    }
    &.active {color: $dark-green;}
  }
}
.sec-promo {
  position: relative;
  @include bgTextureGradient();
  @include blurShadow();
  border-radius: $radius;
  padding: 0 10% 0 4em;
  color: $white;
  @include flex(row, space-between, center, nowrap);
  margin-top: 10%;
  @include media-breakpoint-down(xxl) {
    padding: 0 3em;
  }
  @include media-breakpoint-down(xl) {
    padding: 0 2em;
  }
  @include media-breakpoint-down(lg) {
    margin-top: 15%;
  }
  @include media-breakpoint-down(sm) {
    padding: 1em;
    height: 85px;
  }
  img {
    width: 25%;
    margin-top: -11%;
    @include media-breakpoint-down(xl) {
      width: 22%;
      margin-top: -7%;
    }
    @include media-breakpoint-down(lg) {
      width: 50%;
      margin-top: -15%;
    }
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 55%;
    }
  }
  .text {
    position: relative;
    z-index: 10;
  }
}
.page-game {
  background: url(imgs/bg/gradient.jpg) no-repeat center bottom;
  background-size: 100% 65%;
  &-top {
    position: relative;
    .img {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 40%;
      height: auto;
      z-index: 1;
      @include media-breakpoint-down(xxxl) {
        width: 45%;
      }
      @include media-breakpoint-down(xxl) {
        width: 50%;
      }
      @include media-breakpoint-down(xl) {
        width: 100%;
      }
      svg {
        width: 100%;
        height: auto;
      }
      &-lots {
        position: absolute;
        top: 14%;
        left: 10.7%;
        text-align: center;
        color: $white;
        .num {
          font-size: 1.6em;
        }
        @include media-breakpoint-down(sm) {
          font-size: 2.5vw;
        }
      }
    }
    .categories {
      position: unset;
      @include list();
      @include flex(row, flex-start, center, wrap);
      margin-top: 1.34em;
      margin-bottom: 3em;
      @include media-breakpoint-down(xxxl) {
        margin-top: 1em;
        margin-bottom: 2em;
      }
      @include media-breakpoint-down(xxl) {
        margin-bottom: 1em;
      }
      @include media-breakpoint-down(xl) {
        position: relative;
        width: 60%;
        height: 460px;
        align-content: flex-end;
        justify-content: center;
        margin-bottom: 0em;
      }
      @include media-breakpoint-down(lg) {
        width: 80%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        height: 430px;
      }
      @include media-breakpoint-down(sm) {
        height: calc(85vw - 24px);
      }
      li {
        font-size: 1.2em;
        margin-right: 1.1em;
        margin-bottom: 1.1em;
        @include media-breakpoint-down(xl) {
          margin-bottom: .6em;
          position: relative;
          z-index: 10;
        }
        @include media-breakpoint-down(md) {
          font-size: 1em;
        }
        button, a {
          background-color: rgba($pale-blue, 0.2);
          padding: .55em;
          @include boxShadow();
          border-radius: $radius*0.5;
          transition: $transition;
          &:hover, &:focus {
            background-color: rgba($pale-blue, 0.6);
          }
          &:active, &.active {
            background-color: rgba($pale-blue, 1);
            color: $white;
          }
          @include media-breakpoint-down(xl) {
            background-color: rgba($pale-blue, 0.85);
            &:hover, &:focus, &:active, &.active {
              background-color: $blue;
              color: $white;
            }
          }
        }
      }
    }
    .filter {
      position: relative;
      z-index: 10;
      fieldset {
        @include flex(row, flex-start, center, wrap);
        @include media-breakpoint-down(lg) {
          margin-top: 1em;
        }
        @include media-breakpoint-down(sm) {
          &>* {width: 100% !important;}
        }
      }
      input:not([type="checkbox"]) {
        border-color: $pale-blue;
        @include placeholder($pale-blue);
      }
      input[type="search"]{
        width: 340px;
        @include media-breakpoint-down(xxl) {
          width: 270px;
        }
        @include media-breakpoint-down(md) {
          width: 200px;
        }
      }
      input[type="number"]{
        width: 70px;
        padding: 0.7em 0.75em;
        text-align: center;
      }
      @include media-breakpoint-down(xl) {
        background: rgba($white, $alpha: .75);
        padding: 1em;
        border-radius: $radius;
        @include shadow();
      }
    }
  }
  &-offers {
    background: $glass;
    @include blurShadow();
    border-radius: $radius;
    --pad: 15px 20px;
    --serv: 220px;
    --seller: 220px;
    --availability: 165px;
    --price: 120px;
    @include media-breakpoint-down(xl) {
      background: transparent;
      border-radius: 0px;
      box-shadow: none;
      --pad: 0px 1em;
    }
    @include media-breakpoint-down(md) {
      --pad: 0px .5em;
      --price: 90px;
    }
    .top {
      background-color: rgba($pale-blue, 0.2);
      border-radius: $radius $radius 0px 0px;
      padding: 0 2em;
      display: grid;
      grid-template-columns: var(--serv) auto var(--seller) var(--availability) var(--price);
      grid-template-rows: 1fr;
      grid-template-areas: 
      "serv descr seller availability price";
      @include media-breakpoint-down(xl) {
        display: none;
      }
      div {
        font-size: 1.2em;
        font-weight: 600;
        padding: var(--pad);
        &.serv {grid-area: serv;}
        &.descr {grid-area: descr;}
        &.seller {grid-area: seller;}
        &.availability {
          grid-area: availability;
          text-align: center;
        }
        &.price {
          grid-area: price;
          text-align: center;
        }
      }
    }
    ul {
      @include list();
      padding: 2em;
      @include media-breakpoint-down(xl) {
        padding: 0px;
      }
      .offer-line {
        display: grid;
        grid-template-columns: var(--serv) auto var(--seller) var(--availability) var(--price);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "serv descr seller availability price";
        background-color: $white;
        @include boxShadow();
        border-radius: $radius;
        @include media-breakpoint-down(xl) {
          grid-template-columns:auto var(--price);
          grid-template-rows: 2em auto 3em;
          grid-template-areas: 
          "serv price"
          "descr descr"
          "seller availability";
          gap: 10px 0px;
          padding: 1em 0;
        }
        @include media-breakpoint-down(md) {
          padding: .5em 0;
        }
        &>div {
          grid-column: span 1;
          grid-row: span 1;
          padding: var(--pad);
        }
        .serv {
          grid-area: serv;
          @include media-breakpoint-down(xl) {
            color: $blue;
            @include flex(row, flex-start, center, nowrap);
          }
        }
        .descr {
          grid-area: descr;
          @include media-breakpoint-down(xl) {
            @include clamp(3, 1.2em, true);
          }
        }
        .seller {
          grid-area: seller;
          @include flex(row, flex-start);
          @include media-breakpoint-between(sm, xl) {
            font-size: .8em;
          }
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: .75em;
            @include media-breakpoint-down(xl) {
              width: 40px;
              height: 40px;
            }
          }
        }
        .availability {
          grid-area: availability;
          text-align: center;
          @include media-breakpoint-down(xl) {
            @include flex(row, flex-end, center, nowrap);
            text-align: right;
          }
        }
        .price {
          grid-area: price;
          text-align: center;
          @include media-breakpoint-down(xl) {
            @include flex(row, flex-end, center, nowrap);
            text-align: right;
            font-weight: 600;
          }
        }
      }
    }
  }
}


/* Blog */
.sec-blog {
  .blog-list {
    @include list();
    &-item {
      position: relative;
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: $radius;
        margin-bottom: 1.3em;
        @include media-breakpoint-down(xxxl) {
          height: 200px;
        }
        @include media-breakpoint-down(xxl) {
          height: 190px;
        }
      }
      h5 {
        @include clamp(3, 1.3em);
      }
      &-mobile {
        @include flex(row, flex-start, center, nowrap);
        position: relative;
        img {
          width: 100px;
          height: 80px;
          object-fit: cover;
          border-radius: $radius;
          margin-right: 1em;
        }
        h5 {flex:1;}
      }
    }
  }
}
.cognition {
  flex: 1;
  @include flex(row, flex-end, center, nowrap);
  background-color: $black;
  background-image: linear-gradient(to right, transparent, $black), url(imgs/bg/cogito.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%, 75% auto;
  background-position: 60% 50%, -10% 50%;
  color: $white;
  padding: 0em 2em;
  height: 60px;
  text-align: right;
  border-radius: $radius;
  transition: $transition;
  &:hover, &:focus, &:active {
    color: $light-blue;
  }
}
.page-blog {
  .article-mini {
    position: relative;
    img {
      width: 100%;
      height: 270px;
      object-fit: cover;
      border-radius: $radius $radius 0 0;
      @include media-breakpoint-down(xxxl) {
        height: 250px;
      }
      @include media-breakpoint-down(xxl) {
        height: 220px;
      }
      @include media-breakpoint-down(xl) {
        height: 180px;
      }
      @include media-breakpoint-down(lg) {
        height: 200px;
      }
      @include media-breakpoint-down(md) {
        height: 155px;
      }
      @include media-breakpoint-down(sm) {
        height: 33vw;
      }
    }
    figcaption {
      background-color: $white;
      border-radius: 0 0 $radius $radius;
      @include lightShadow();
      padding: 1.5em 1.5em .6em;
      @include media-breakpoint-down(xl) {
        padding: 1em 1.25em .6em;
      }
      @include media-breakpoint-down(sm) {
        padding: .6em 1em;
      }
      h5 {
        font-weight: 600;
        color: #000;
        @include clamp(2, 1.2em, true);
        a {line-height: 1.2em;}
      }
      time {
        display: block;
        text-align: right;
        margin-top: .5em;
        color: $pale-blue;
        font-weight: 500;
        font-size: 1.2em;
        @include media-breakpoint-down(lg) {
          font-size: 1em;
        }
      }
    }
  }
  article {
    p {
      color: #000;
      margin-bottom: 2em;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
      }
    }
    img {
      max-width: 100%;
      border-radius: $radius;
      margin-bottom: 2em;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
      }
    }
  }
}

/* bottom background */
.sec-bottom {
  background: url(imgs/bg/gradient.jpg) no-repeat center;
  background-size: 100% 100%;
}

/* Chat */
.sec-chat {
  h2 {
    margin-left: 3.5em;
    margin-bottom: 0.1em;
  }
}
.chat {
  background: rgba($color: $white, $alpha: .3);
  @include blurShadow();
  padding: 4em .7em 2em;
  border-radius: $radius;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding: 3em .7em 1em;
  }
  &-count {
    position: absolute;
    top: -3em;
    left: 3em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    @include flex(column);
    text-align: center;
    border: .5em solid $white;
    box-sizing: content-box;
    @include media-breakpoint-down(lg) {
      top: -4em;
      left: 2em;
    }
    @include media-breakpoint-down(sm) {
      left: 1em;
    }
  }
  &-window {
    height: 698px;
    overflow: auto;
    padding: 2em 3.5em;
    @include media-breakpoint-down(lg) {
      padding: 1em 1.5em;
      height: 500px;
    }
    @include media-breakpoint-down(md) {
      padding: 1em;
    }
    @include media-breakpoint-down(sm) {
      padding: 1em .5em;
    }
    &-message {
      @include flex(row, flex-start, flex-start);
      &:not(:first-child){margin-top: 2em;}
      img {
        width: 3.34em;
        height: 3.34em;
        border-radius: 50%;
        margin-right: -2.5em;
        position: relative;
        z-index: 10;
        border: 0.34em solid #fbfbfd;
        box-sizing: content-box;
      }
      .text {
        flex: 1;
        @include flex(column, flex-start, flex-start, nowrap);
        h5 {
          padding-left: 3em;
          margin-bottom: .34em;
        }
        .bubble {
          position: relative;
          width: fit-content;
          min-width: 50%;
          background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba($color: $pale-blue, $alpha: .2);
          @include shadow();
          border-radius: $radius;
          padding: 1em 15% 1.2em 4em;
          font-weight: 300;
          text-align: left;
          time {
            position: absolute;
            top: .3em;
            right: 1em;
            font-size: .85em;
          }
          .toAnswer {
            position: absolute;
            bottom: .3em;
            right: .5em;
            color: $dark-blue;
            font-size: 1.35em;
            @include flex();
            transition: $transition;
            transform: scale(1);
            &:hover, &:focus, &:active {
              color: $green;
              transform: scale(1.2);
            }
          }
        }
      }
      &-mine {
        @extend .chat-window-message;
        img {
          margin-left: -2.5em;
          margin-right: 0px;
        }
        .text {
          align-items: flex-end;
          h5 {
            padding-right: 3em;
            padding-left: 0;
          }
          .bubble {
            background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba($color: $pale-green, $alpha: .4);
            text-align: right;
            time {
              top: unset;
              bottom: .3em;
            }
          }
        }
      }
    }
  }
  &-form {
    @include flex(row, flex-start, center, nowrap);
    padding: 0 3.5em;
    @include media-breakpoint-down(lg) {
      padding: 0 1.5em;
    }
    @include media-breakpoint-down(md) {
      padding: 0 1em;
    }
    @include media-breakpoint-down(sm) {
      padding: 0 .5em;
    }
    .input {
      position: relative;
      flex: 1;
      background-color: $white;
      border-radius: $radius*0.5 0px 0px $radius*0.5;
      height: 4em;
      box-shadow: inset 0px 0px 0px 1px rgba(157,196,239,.2);
      @include lightShadow();
      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(100% - 1px);
        height: 100%;
        width: calc(4em / 3);
        background: url(imgs/bg/inputChatEnd.svg) no-repeat center;
        background-size: 100% 100%;
        display: block;
        z-index: 10;
      }
      input {
        border: none;
        background-color: transparent;
        height: 100%;
      }
    }
    button {
      // margin-left: -.34em;
      margin-left: 1em;
      width: 3.34em;
      height: 3.34em;
      padding: 0px;
      border-radius: 50%;
      padding-top: 0.25em;
      padding-right: 0.25em;
      img {width: 1.75em;}
    }
  }
  &-report {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    z-index: 10;
    color: $dark-blue;
    @include flex();
    font-size: 1.6em;
    transition: $transition;
    transform: scale(1);
    &:hover, &:focus, &:active {
      color: #e9003a;
      transform: scale(1.2);
    }
  }
}

/* Popular products */
.sec-popular {
  h2 {
    margin-bottom: 0.1em;
    padding: 0 0.35em;
    @include media-breakpoint-down(xxxl) {
      font-size: 2.85em;
    }
    @include media-breakpoint-down(xl) {
      font-size: 2.65em;
    }
  }
  .offers-slider {
    height: 860px;
    padding: 0 1.5em 0 1em;
    margin-right: -.5em;
    .swiper-scrollbar {
      right: .5em;
      background-color: #fff;
      box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 1px 3px 20px rgba(100, 100, 100, 0.15);
      backdrop-filter: blur(4px);
      width: 5px;
      &-drag {
        background-color: $pale-blue;
      }
    }
    .swiper-slide {height: fit-content;}
    .offer-card {
      background: $glass;
      @include blurShadow();
      border-radius: $radius;
      padding: 1.6em 1.6em .7em 1.6em;
      &-top {
        @include flex(row, space-between, center, nowrap);
        h5 {
          font-weight: 700;
          color: $green;
          h5 {
            @include clamp(1, 1.4em, true);
          }
        }
      }
      &-main {
        margin-top: 1em;
        @include flex(row, space-between, flex-start, nowrap);
        h5 {
          @include clamp(2, 1.4em, true);
        }
      }
      &-text {
        margin-top: 1em;
        p {
          font-weight: 300;
          @include clamp(2, 1.4em);
        }
      }
      &-bottom {
        margin-top: 1em;
        @include flex(row, space-between, center, nowrap);
      }
    }
  }
}

.sec-registration {
  .title {
    border-radius: $radius;
    @include bgTextureGradient(linear-gradient(165deg, #1B1B1C 0%, #4A83DC 55%, #000000 100%));
    color: $white;
    height: 135px;
    padding: 0 3em;
    @include flex(row, flex-start, center, nowrap);
    position: relative;
    img {
      position: absolute;
      right: 20%;
      bottom: 0%;
      height: 160%;
      z-index: 10;
    }
  }
  .box {
    background: $glass;
    @include blurShadow();
    border-radius: $radius;
    padding: 2em;
    @include flex(row, space-between, flex-start, nowrap);
    form {
      &.midi {
        width: 530px;
      }
      &.mini {
        width: 440px;
      }
    }
  }
}

.sec-login {
  .wrap {
    @include blurShadow();
    padding: 2em 25% 1.5em 2em;
    border-radius: $radius;
    height: 100%;
  }
  .cover {
    border-radius: $radius;
    @include bgTextureGradient(linear-gradient(115deg, #1B1B1C 0%, #4A83DC 55%, #000000 100%));
    color: $white;
    height: 395px;
    padding: 0 6em;
    @include flex(row, flex-start, center, nowrap);
    position: relative;
    h2 {
      line-height: 100%;
    }
    img {
      position: absolute;
      right: 0%;
      bottom: 0%;
      height: 95%;
      z-index: 10;
    }
  }
}

.sec-password {
  .wrap {
    @include blurShadow();
    padding: 2em 25% 1.5em 2em;
    border-radius: $radius;
  }
}

footer {
  height: var(--f-height);
  background-color: $black;
  color: $white;
  @include media-breakpoint-down(lg) {
    background-color: transparent;
    color: $black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
  }
  .dev-link {
    width: fit-content;
    @include flex(row, center, center, nowrap);
    font-size: 16px;
    svg {
      margin-left: 0.3em;
      font-size: 1.2em;
    }
  }
  .nav-mobile {
    @include flex();
    .logo {
      padding: 1em 1.65em;
      @include bgTextureGradient();
      color: $white;
      border-radius: $radius;
    }
    ul {
      @include list();
      @include flex(row, space-evenly);
      flex: 1;
      background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.8);
      @include shadowMobile();
      margin-left: 1.7em;
      padding: .75em 1.5em;
      border-radius: $radius;
      @include media-breakpoint-down(md) {
        justify-content: space-around;
      }
      @include media-breakpoint-down(sm) {
        justify-content: space-between;
      }
      li {
        a {
          @include flex();
          font-size: 1.85em;
          color: $gray;
          transition: $transition;
          svg {
            path {stroke-width: 0.8px;}
          }
          &.active {
            color: $green;
          }
        }
      }
    }
  }
}