@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --h-height: 85px;
  --f-height: 80px;
}

/* mixins */
/*****************
SCROLL STYLIZATION
******************/
html {
  scrollbar-color: #9DC4EF transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 4px 15px rgba(100, 100, 100, 0.08);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
::-webkit-scrollbar:hover, ::-webkit-scrollbar:active {
  background: rgba(157, 196, 239, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #9DC4EF;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #66C6E4;
}
::-webkit-scrollbar-thumb:active {
  background-color: #4A83DC;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 140%;
  margin-bottom: 0px;
}

h1, .h1 {
  font-family: "Bebas";
  font-size: 4em;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.2em;
}

h2 {
  font-family: "Bebas";
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.67em;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.2em;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.rouble {
  font-family: "Verdana", "Tahoma", "Arial Black";
}

/* Form elements */
input, textarea {
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 0.67em;
  padding: 0.6em 1.65em;
  width: 100%;
  outline: none;
  display: block;
  transition: 300ms ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #C1C1C1;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #C1C1C1;
  font-weight: 400;
}
input.p-blue, textarea.p-blue {
  border: 1px solid #9DC4EF;
}
input.p-blue::-moz-placeholder, textarea.p-blue::-moz-placeholder {
  color: #9DC4EF;
  font-weight: 400;
}
input.p-blue::placeholder, textarea.p-blue::placeholder {
  color: #9DC4EF;
  font-weight: 400;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-2, .btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.65em 1.65em;
  text-align: center;
  transition: 300ms ease;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  border-radius: 0.67em;
}
.btn-1 {
  color: #FFFFFF;
  background: linear-gradient(120.98deg, #4A83DC 48.77%, #3266B8 85.89%);
}
.btn-1:hover, .btn-1:focus {
  color: #FFFFFF;
  background: linear-gradient(120.98deg, #4A83DC 48.77%, #3266B8 85.89%);
}
.btn-1:active, .btn-1.active {
  color: #FFFFFF !important;
  background: linear-gradient(120.98deg, #4A83DC 48.77%, #3266B8 85.89%);
}
.btn-2 {
  background: #FFFFFF;
  color: #1B1B1C;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.67em;
}

.lang-switcher {
  position: relative;
}
.lang-switcher button {
  width: 100%;
  font-size: 1em;
  padding: 0.1em 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #8F8F8F;
}
.lang-switcher img {
  width: 1.6em;
  height: 1.6em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 4px 15px rgba(100, 100, 100, 0.08);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin-right: 0.5em;
}
.lang-switcher ul {
  list-style: none;
  padding-left: 0px;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.lang-switcher ul li {
  width: 100%;
  margin: 0px !important;
}

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: #4A83DC;
  font-size: 1.34em;
}
.star-rating svg:not(:first-child) {
  margin-left: 3px;
}
.star-rating svg.filled path {
  fill: #4A83DC;
}

.form-search {
  position: relative;
}
.form-search input {
  width: 340px;
}
.form-search button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  color: #9DC4EF;
  font-size: 1.6em;
  width: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1509px;
  }
}
.flex-1 {
  flex: 1;
}

.mb-6 {
  margin-bottom: 6em;
}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", "Tahoma", "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: 400;
  color: #1B1B1C;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 2em 0;
}

header {
  height: var(--h-height);
}

/* Slider */
.main-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.main-slider-item, .main-slider-item-active {
  --w: 16%;
  width: var(--w);
  position: relative;
  padding-top: 3.5em;
}
.main-slider-item .svg-mini, .main-slider-item-active .svg-mini {
  position: relative;
  z-index: 1;
  width: 112%;
  height: 440px;
}
.main-slider-item h2, .main-slider-item-active h2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1em;
  max-height: 1em;
}
.main-slider-item .lots, .main-slider-item-active .lots {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  z-index: 10;
  bottom: 16%;
  right: -6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #FFFFFF;
  font-size: 0.85em;
}
.main-slider-item .lots .num, .main-slider-item-active .lots .num {
  font-size: 1.1em;
  line-height: 140%;
  font-weight: 600;
}
.main-slider-item-active {
  --w: 60%;
}
.main-slider-item-active .svg-full {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 524px;
  margin-top: -3.3em;
}
.main-slider-item-active h2 {
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 16%;
}
.main-slider-item-active .lots {
  top: 5%;
  left: 6.25%;
  bottom: unset;
  right: unset;
  font-size: 1em;
}
.main-slider-item-active .lots .num {
  line-height: 120%;
  font-size: 1.6em;
  font-weight: 400;
}
.main-slider-item-active .link {
  position: absolute;
  z-index: 10;
  bottom: 2em;
  right: 2em;
}

/* Catalog */
.sec-catalog {
  background: url(imgs/bg/gradient.jpg) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.sec-catalog .nav-catalog {
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 3%;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.sec-catalog .nav-catalog ul {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
  padding-left: 0px;
  background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 1em;
  border-radius: 0.67em;
}
.sec-catalog .nav-catalog ul li {
  font-size: 1.3em;
  text-align: center;
}
.sec-catalog .nav-catalog ul li:not(:first-child) {
  margin-top: 1em;
}
.sec-catalog .container {
  position: relative;
  z-index: 1;
}
.sec-catalog-part {
  margin-bottom: 3.33em;
  padding: 1em 2.3em;
  background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}
.sec-catalog .letter {
  font-size: 3.33em;
  font-weight: 700;
  color: rgba(67, 185, 198, 0.26);
  margin-bottom: 1rem;
}

.game-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.game-card img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 1.3em;
}
.game-card h4 {
  padding: 0 0 0.6em 0.65em;
}
.game-card .servers {
  position: relative;
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background: rgba(72, 216, 104, 0.8);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 10px rgba(156, 156, 156, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.67em;
}
.game-card .servers::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #4A83DC;
  box-shadow: 0px 1px 3px rgba(70, 67, 118, 0.2), inset 0px 1px 3px rgba(245, 201, 249, 0.47);
}
.game-card .servers::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 50%;
  width: 20px;
  height: 7px;
  transform: translate(-48%, 0%);
  background: url(imgs/Subtract.svg) no-repeat center;
  background-size: contain;
}
.game-card .servers li {
  position: relative;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  padding: 0.6em 0.5em;
  transition: 300ms ease;
  cursor: pointer;
}
.game-card .servers li:first-child {
  padding-left: 1em;
}
.game-card .servers li:last-child {
  padding-right: 1em;
}
.game-card .servers li.active {
  color: #005A47;
}
.game-card .categories {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 0.85em 0.85em;
}
.game-card .categories li {
  margin-bottom: 0.67em;
}
.game-card .categories li:not(:last-child) {
  margin-right: 1em;
}

.sec-promo {
  background: url(imgs/bg/texture.png), linear-gradient(109.93deg, #3399AB 26.37%, #78D848 59.52%, #91EE8F 91.99%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.67em;
  padding: 0 10% 0 4em;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10%;
}
.sec-promo img {
  width: 25%;
  margin-top: -11%;
}

/* Blog */
.sec-blog .cognition {
  flex: 1;
  display: block;
  background-color: #1B1B1C;
  background-image: linear-gradient(to right, transparent, #1B1B1C), url(imgs/bg/cogito.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%, 75% auto;
  background-position: 60% 50%, -10% 50%;
  color: #FFFFFF;
  padding: 0.9em 2em;
  text-align: right;
  border-radius: 0.67em;
  margin-left: 3.5em;
}
.sec-blog .blog-list {
  list-style: none;
  padding-left: 0px;
}
.sec-blog .blog-list-item {
  position: relative;
}
.sec-blog .blog-list-item img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.67em;
  margin-bottom: 1.3em;
}
.sec-blog .blog-list-item h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.3em;
  max-height: 3.9em;
}

/* bottom background */
.sec-bottom {
  background: url(imgs/bg/gradient.jpg) no-repeat center;
  background-size: 100% 100%;
}

/* Chat */
.sec-chat h2 {
  margin-left: 3.5em;
  margin-bottom: 0.1em;
}

.chat {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 3em 1.5em;
  border-radius: 0.67em;
  position: relative;
}
.chat-count {
  position: absolute;
  top: -3em;
  left: 3em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: #1B1B1C;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  border: 0.5em solid #FFFFFF;
  box-sizing: content-box;
}
.chat-window {
  height: 685px;
  overflow: auto;
  padding: 2em 3em;
}
.chat-window-message, .chat-window-message-mine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.chat-window-message:not(:first-child), .chat-window-message-mine:not(:first-child) {
  margin-top: 2em;
}
.chat-window-message img, .chat-window-message-mine img {
  width: 3.34em;
  height: 3.34em;
  border-radius: 50%;
  margin-right: -2.5em;
  position: relative;
  z-index: 10;
  border: 0.34em solid #fbfbfd;
  box-sizing: content-box;
}
.chat-window-message .text, .chat-window-message-mine .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.chat-window-message .text h5, .chat-window-message-mine .text h5 {
  padding-left: 3em;
  margin-bottom: 0.34em;
}
.chat-window-message .text .bubble, .chat-window-message-mine .text .bubble {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 50%;
  background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(157, 196, 239, 0.2);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 4px 15px rgba(100, 100, 100, 0.08);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.67em;
  padding: 1em 15% 1.2em 4em;
  font-weight: 300;
  text-align: left;
}
.chat-window-message .text .bubble time, .chat-window-message-mine .text .bubble time {
  position: absolute;
  top: 0.3em;
  right: 1em;
  font-size: 0.85em;
}
.chat-window-message .text .bubble .toAnswer, .chat-window-message-mine .text .bubble .toAnswer {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
  color: #0D59AB;
  font-size: 1.35em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: 300ms ease;
  transform: scale(1);
}
.chat-window-message .text .bubble .toAnswer:hover, .chat-window-message-mine .text .bubble .toAnswer:hover, .chat-window-message .text .bubble .toAnswer:focus, .chat-window-message-mine .text .bubble .toAnswer:focus, .chat-window-message .text .bubble .toAnswer:active, .chat-window-message-mine .text .bubble .toAnswer:active {
  color: #48D868;
  transform: scale(1.2);
}
.chat-window-message-mine img {
  margin-left: -2.5em;
  margin-right: 0px;
}
.chat-window-message-mine .text {
  align-items: flex-end;
}
.chat-window-message-mine .text h5 {
  padding-right: 3em;
  padding-left: 0;
}
.chat-window-message-mine .text .bubble {
  background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(148, 229, 166, 0.4);
  text-align: right;
}
.chat-window-message-mine .text .bubble time {
  top: unset;
  bottom: 0.3em;
}
.chat-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.chat-form .input {
  flex: 1;
  background: url(imgs/bg/inputChat.svg) no-repeat center;
  background-size: 100% 100%;
  height: 4em;
  filter: drop-shadow(0px 4px 15px rgba(100, 100, 100, 0.08));
}
.chat-form .input input {
  border: none;
  background-color: transparent;
  height: 100%;
}
.chat-form button {
  margin-left: -0.34em;
  width: 3.34em;
  height: 3.34em;
  padding: 0px;
  border-radius: 50%;
  padding-top: 0.25em;
  padding-right: 0.25em;
}
.chat-form button img {
  width: 1.75em;
}
.chat-report {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  z-index: 10;
  color: #0D59AB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.6em;
  transition: 300ms ease;
  transform: scale(1);
}
.chat-report:hover, .chat-report:focus, .chat-report:active {
  color: #e9003a;
  transform: scale(1.2);
}

/* Popular products */
.sec-popular h2 {
  margin-bottom: 0.1em;
  padding: 0 0.35em;
}
.sec-popular .offers-slider {
  height: 860px;
  padding: 0 1.5em 0 1em;
  margin-right: -0.5em;
}
.sec-popular .offers-slider .swiper-scrollbar {
  right: 0.5em;
  background-color: #fff;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 1px 3px 20px rgba(100, 100, 100, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 5px;
}
.sec-popular .offers-slider .swiper-scrollbar-drag {
  background-color: #9DC4EF;
}
.sec-popular .offers-slider .swiper-slide {
  height: -moz-fit-content;
  height: fit-content;
}
.sec-popular .offers-slider .offer-card {
  background: linear-gradient(92.32deg, rgba(255, 255, 255, 0) 16.31%, rgba(245, 251, 255, 0.3) 97.01%), rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8), 0px 5px 25px rgba(95, 95, 95, 0.08);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.67em;
  padding: 1em;
}
.sec-popular .offers-slider .offer-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-popular .offers-slider .offer-card-top h5 {
  font-weight: 700;
  color: #48D868;
}
.sec-popular .offers-slider .offer-card-top h5 h5 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4em;
  height: 1.4em;
}
.sec-popular .offers-slider .offer-card-main {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-popular .offers-slider .offer-card-main h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4em;
  height: 2.8em;
}
.sec-popular .offers-slider .offer-card-text {
  margin-top: 1em;
}
.sec-popular .offers-slider .offer-card-text p {
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4em;
  max-height: 2.8em;
}
.sec-popular .offers-slider .offer-card-bottom {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

footer {
  height: var(--f-height);
  background-color: #1B1B1C;
  color: #FFFFFF;
}
footer .dev-link {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 16px;
}
footer .dev-link svg {
  margin-left: 0.3em;
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */